body{
  background-color: hsl(204, 43%, 93%);
  font-family: 'Karla', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: hsl(218, 22%, 67%);
}

.card{
  border: none;
  padding: 2rem;
  border-radius: 0;
}

#topCard.card{
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

#leftCard.card{
  border-bottom-left-radius: 0.25rem;
}

#rightCard.card{
  border-bottom-right-radius: 0.25rem;
}

.card-title{
  margin:0 0 20px;
  color: #2BB3B1;
}

#topCard .card-subtitle{
  color:#BFDF32;
}

#rightCard .card-subtitle{
  margin-bottom: 25px;
}

.card-subtitle{
  margin-bottom: 10px;
  font-size: 1.6rem;
}

.row{
  margin: 10% 20%;
}

.bullets{
  padding: 0;
  list-style-type: none;
}

.cost{
  font-size: 2.5rem;
}

.Exp{
  position: relative;
  bottom: 7px;
  font-weight: lighter;
}

.btn {
  background: #aef529;
  background-image: -webkit-linear-gradient(top, #aef529, #bede31);
  background-image: -moz-linear-gradient(top, #aef529, #bede31);
  background-image: -ms-linear-gradient(top, #aef529, #bede31);
  background-image: -o-linear-gradient(top, #aef529, #bede31);
  background-image: linear-gradient(to bottom, #aef529, #bede31);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 10px #666666;
  -moz-box-shadow: 0px 3px 10px #666666;
  box-shadow: 0px 3px 10px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 1rem;
  padding: 5% 36% 5% 36%;
  text-decoration: none;
  margin-top: 20px;
}

.btn:hover {
  text-decoration: none;
}

#leftCard{
  background-color:#2BB3B1;
  color: #fff;
}

#rightCard{
  background-color: #4ABEBD;
  color: #fff;
  font-weight: lighter;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
